.form_aline{
	height: 600px;
	margin-top: 50px;
	margin-bottom: 50px;

}
.top_aline{
	height: 150px;
	background-color: #008080;
}
.body_aline{
	height: 300px;
	
}
.body_aline_top{
	height: 100px;
	background-color: #87CEFA;
}
.body_aline_center{
	height: 100px;
	
}
.body_aline_center_left{
	width: 50px;
	height: 100px;
	background-color: #87CEFA;
	float: left;
}
.quanlyhocsinh{
	
	background-color: #792C00;
	float: left;
	height: 100px;
	width: 230px;
	border: 1px solid yellow;
}
.quanlylop{
	
	background-color: #731600;
	float: left;
	height: 100px;
	width: 230px;
	border: 1px solid yellow;
}
.quanlymonhoc{
	
	background-color: #710000;
	float: left;
	height: 100px;
	width: 230px;
	border: dashed;
	border: 1px solid yellow;
}
.quanlydiem{
	
	background-color: #730016;
	float: left;
	height: 100px;
	width: 230px;
	border: dashed;
	border: 1px solid yellow;
}
.body_aline_center_right{
	width: 50px;
	height: 100px;
	background-color: #87CEFA;
	float: right;
}
.body_aline_bottom{
	height:100px;
	background-color: #87CEFA;
}
.bottom_aline{
	height: 150px;
	background-color: #14214B;
}
.font_name{
	font-size: 35px;
	color: white;
}
.tieude_name{
	font-size: 40px;
	text-align: center;
	color: yellow;
}