<!DOCTYPE html>
<html>
<head>
	<title>Giao diện</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/giaodien.css">
	<meta charset="utf-8">
<body style="background-image: url(../images/body.jpg); background-repeat:no-repeat; background-attachment: fixed;background-position: top center;">
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div style="float: right; color: yellow;">
				<p>Đăng nhập</p>
			</div>
			<div class="col-sm-13 form_aline">
				
				<div class="top_aline" style="background-image: url(../images/tttp.jpg); background-repeat:no-repeat; background-attachment: fixed;background-position: top center;">
					<font class="tieude_name">
						<p>QUẢN LÝ HỌC SINH</p>
					</font>
				</div>
				<div class="body_aline"> 
					<div class="body_aline_top"></div>
					<div class="body_aline_center">
						<div class="body_aline_center_left"></div>
						<div class="quanlyhocsinh text-center">
							<a href="../admin/thongtinhocsinh.php">
									<font class="font_name">
										<p> THÔNG TIN HỌC SINH</p>
									</font>
							</a>
						</div>
						<div class="body_aline_center_left"></div>
						<div class="quanlylop text-center">
							<a href="../admin/thongtinlop.php">
									<font class="font_name">
										<p> THÔNG TIN LỚP</p>
									</font>
							</a>
						</div>
						<div class="body_aline_center_left"></div>
						<div class="quanlymonhoc text-center">
							<a href="../admin/thongtinmonhoc.php">
									<font class="font_name">
										<p> THÔNG TIN MÔN HỌC</p>
									</font>
							</a>
						</div>
						<div class="body_aline_center_left"></div>
						<div class="quanlydiem text-center">
							<a href="../admin/thongtindiem.php">
									<font class="font_name">
										<p> THÔNG TIN ĐIỂM</p>
									</font>
							</a>
						</div>
						<div class="body_aline_center_right"></div>
					</div>
					<div class="body_aline_bottom"></div>
				</div>

				<div class="bottom_aline"> </div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</body>
</html>