<html>
	<head>
		<title>Giao diện quản lý</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>	
		<link rel="stylesheet" type="text/css" href="../css/quanly.css">	
		<meta charset="utf-8">
	</head>
	<body style="background-image:url(../images/font.jpg); background-repeat:no-repeat; background-attachment: fixed;background-position: top center;">
		<div class="container">
			<div class="row">
				<div class="col-sm-0.1"></div>
				<div class="col-sm-13.8">
					<div class="top_aline">
						<font class="dangxuat" style="float: right;">
							<a href="giaodien.html">
								<p style="color:blue;">Đăng xuất</p>
							</a>
						</font>
					</div>
					<div class="tieude_aline" style="background-image:url(../images/quanly.jpg); background-repeat:no-repeat; background-attachment: fixed;background-position: top center;">
						<font class="tieude_text text-center">
							<p>Giao diện quản lý</p> 
						</font>
					</div>

					<div class="menu_aline navbar-collapse navbar-collapse ">
						<ul class="nav navbar-nav">
								<li class="active">
									<a href="giaodien.html" target="_self" >
										<font color="#8B0000" size="3">Xem thông tin</font>
									</a>
								</li>
								<li>
									<a href="../qlhs.php"  >
										<font color="#8B0000" size="3">Quản lý học sinh</font>
									</a>
								</li>
								<li>
									<a href="../qllophp.php">
										<font color="#8B0000" size="3">Quản lý lớp</font>
									</a>
								</li>
								<li>
									<a href="../qlmonhoc.php">
										<font color="#8B0000" size="3">Quản lý môn học</font>
									</a>
								</li>
								<li>
									<a href="../qldiem.php">
										<font color="#8B0000" size="3">Quản lý điểm</font>
									</a>
								</li>					
						</ul>
					</div>
					<div class="quanlydulieu" style="background-image:url(../images/hocsinh.jpg); background-repeat:no-repeat; background-attachment: fixed;background-position: top center;">
						
					</div>
				</div>
				<div class="col-sm-0.1"></div>
			</div>
		</div>
	</body>
</html>
