<!DOCTYPE html>
<html>
<head>
	<title>Giao diện</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/giaodien.css">
	<meta charset="utf-8">
<body style="background-image: url(../images/bodyy.jpg); background-repeat:no-repeat; background-attachment: fixed;background-position: top center;">
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div style="float: right; color: yellow;">
				<p><a href="../login.php"  title="đăng nhập" class="btn btn-warning">
											<i class="fa fa-edit"></i>
											<span class="glyphicon glyphicon-edit"></span>
										</a></p>
			</div>
			<div class="col-sm-13 form_aline">
				
				<div class="top_aline" style="background-image: url(../images/tttp.jpg); background-repeat:no-repeat; background-attachment: fixed;background-position: top center;">
					<div>
						<a href="giaodien.html">
						<font class="tieude_name">
							<p>STUDENT INFOMATION</p>
						</font>
						</a>
					</div>
					<div>
						<font class="tieude_name_1">
							<marquee direction="right" style="background:#336699;">
								<p>HỌC - HỌC NỮA - HỌC MÃI</p>
							</marquee>
						</font>
					</div>
				</div>
				<div class="body_aline"> 
					<div class="body_aline_center">
						<div class="body_aline_center_left"></div>
						<div class="quanlyhocsinh text-center">
							<a href="../admin/thongtinhocsinh.php">
								<img src="../images/hocsinhs.jpg" height="250px" width="230px" title="Học sinh">
							</a>
							<div class="font_name_color">
								<a href="../admin/thongtinhocsinh.php">
										<font class="font_name">
											<p>HỌC SINH</p>
										</font>
								</a>
							</div>
						</div>
						<div class="body_aline_center_left"></div>
						<div class="quanlylop text-center">
							<a href="../admin/thongtinlop.php">
								<img src="../images/lophoc.jpg" height="250px" width="230px" title="Lớp học">
							</a>
							<div class="font_name_color">
							<a href="../admin/thongtinlop.php">
									<font class="font_name">
										<p>LỚP</p>
									</font>
							</a>
							</div>
						</div>
						<div class="body_aline_center_left"></div>
						<div class="quanlymonhoc text-center">
							<a href="../admin/thongtinmonhoc.php">
								<img src="../images/monhoc.jpg" height="250px" width="230px" title="Môn học">
							</a>
							<div class="font_name_color">
							<a href="../admin/thongtinmonhoc.php">
									<font class="font_name">
										<p>MÔN HỌC</p>
									</font>
							</a>
							</div>
						</div>
						<div class="body_aline_center_left"></div>
						<div class="quanlydiem text-center">
							<a href="../admin/thongtindiem.php">
								<img src="../images/diem.jpg" height="250px" width="230px" title="Điểm">
							</a>
							<div class="font_name_color">
							<a href="../admin/thongtindiem.php">
									<font class="font_name">
										<p>ĐIỂM</p>
									</font>
							</a>
							</div>
						</div>
						<div class="body_aline_center_right"></div>
					</div>
					<div class="body_aline_bottom"></div>
				</div>

				<div class="bottom_aline"> </div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</body>
</html>